@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Inter", serif;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}


.container {
    max-width: 1731px;
    margin: 0 auto;
    padding: 15px;
}


.header-nav {
    display: flex;
    justify-content: space-between;
}

.nav-list-row {
    column-gap: 35px;
    display: flex;
}

.nav-list-item {
    list-style: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 173%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
}

