@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Inter", serif;
    color: #000;
}


.container {
    max-width: 1731px;
    margin: 0 auto;
    padding: 15px;
}

ul {
    list-style: none; /* убирает точки */
  }